@font-face{
    font-family: 'lemon';
    src:url('fontes/lemon_milk/LEMONMILK-Medium.otf')format('opentype');
}
@font-face {
    font-family:'louis';
    src:url('fontes/louis_george_caf/Louis\ George\ Cafe\ Bold.ttf')format('truetype');
}
*{
    margin: 0px;
    padding:0px;
}
body{
    font-size:1em;
    background-image:linear-gradient(to right,#30C5D2,#471069 );
    background-attachment: fixed;
    font-family:'louis';
}
h1{
    text-align: center;
    padding:30px;
    font-family: 'lemon';
}
section{
    max-width: 237px;
    max-height: 310px;
    min-height: 90px;
    background-color: white;
    margin:auto;
    padding:3px;
    border-radius:5px;
}
section input{
    margin: 3px 0px 3px 3px;
}
#ano{
    width:73px;
    padding:2px; 
    text-align: center;
}
#botao{
   width: 236px;
   border:0.5px;
   padding:6px;
   border-radius:5px;
   background-color:#3698B8;
   /* size weight */
   font:1em 900;
   /* top right bottom left */
   margin: 10px 0px 0px 0px;
}
#botao:hover{
    background-color:#3C6B9E;
    color:azure;
}
#msg {
    padding: 5px; 
}
footer{
    text-align: center;
    font-size: 14px;
    font-weight:800;
    padding:10px;
}
footer a{
    text-decoration: none;
    color:black;
}
footer a:hover{
    color:#30C5D2;
    text-decoration: underline;
    font-size:16px;
}